.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    padding: 10px
    
  }
  
  .grid-container > div {
    text-align: center;
    font-size: 30px;
    margin: 30px;
  }

  body{
  background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
  }