
body{
   
    background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
}

#imagenCompañia{
   width: 100px;
   height: 100px;
 display: block;
 margin: auto;
}

#carouselExampleControls{
    width: 40%;
    height: 40%;
    display: block;
    margin: auto;
}

#profesionales{
    text-align: center;
}

#carouselExampleCaptions{
    width: 40%;
    height: 40%;
    display: block;
    margin: auto;
}

#Servicios{
    text-align: center; 
}


#img_cl{
    width: 40px;
   height: 40px;
}


#contactanos{
    text-align: end;
    
}


#general{
    display: flex;
    width: 1000px;
    margin-left: 300px;

}


#general div img{
     
    margin-right: 10px;
    width: 200px;
}


/* img {
    max-width: 100%;
    max-height: 100%;
   } */


